.label {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", serif;
  font-size: 14px;
  font-weight: 400;
  color: #A4A4A4;
  gap: 10px;
  width: 100%;
  input {
    background: #1b295966;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
  }
}
