@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=League+Spartan:wght@100..900&family=Shalimar&display=swap");

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50px;
  height: 39px;
  cursor: pointer;
  position: fixed;
  top: 24px;
  right: 20px;
  z-index: 9000;
  background: transparent;
  border-radius: 4px;
  padding: 3px 10px;
}

.burger-menu div {
  width: 30px;
  height: 3px;
  background: white;
  transition: all 0.3s;
}

/* .burger-menu.active div {
    background-color: black; 
  } */

.burger-menu.active div:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.burger-menu.active div:nth-child(2) {
  opacity: 0;
}

.burger-menu.active div:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

.nav-menu {
  position: fixed;
  z-index: 1111;
  top: 0;
  right: 0;
  width: 50%;
  height: 500px;
  background: #0a1128;
  border-radius: 22px;

  transform: translateX(100%);
  transition: transform 0.3s;
}

.nav-menu.active {
  transform: translateX(0);
}

.top_line {
  background: white;
  height: 1px;
  width: 100%;
  margin-top: 90px;
}

.nav-menu ul {
  list-style: none;
  padding: 20px;
  margin-top: 50px;
}

.nav-menu ul li {
  margin: 50px 0;
}

li p {
  margin-left: 30px;
  font-size: 22px;
  color: white;
  font-family: "Spartan" serif;
}

.under_switch {
  margin: 20px 30px;
  display: flex;
  align-items: center;
  gap: 16px;
  button {
    font-size: 22px;
    color: white;
    font-family: 300;
    background: transparent;
    border: none;
  }
}
