* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;

  background-color: rgba(10, 17, 40, 1);
}
p {
  font-family: Montserrat;
}
.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
h1 {
  font-family: Montserrat;
}
p {
  font-family: Montserrat;
}

button {
  cursor: pointer;
}
