.navBar {
  width: 30%;
  background-color: white;
  display: flex;
  align-items: center;
  height: 520px;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 10px;
  img {
    width: 50%;
  }
  button {
    width: 170px;
    height: 39px;
    padding: 9px 22px;
    background: #0272ce;
    color: white;
    border-radius: 12px;
    font-family: "Montserrat", serif;
    margin: 30px 0;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
  }
  nav {
    width: 100%;
    a {
      display: flex;
      gap: 15px;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      border-bottom: 0.5px solid #9a9a9a6b;
      color: black;
      width: 100%;
      padding: 16px 20%;
      svg {
        font-size: 24px;
      }
      .arrow {
        display: none;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    span {
      display: flex;
      gap: 15px;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      color: black;
      cursor: pointer;
      width: 100%;
      padding: 16px 20%;
      svg {
        font-size: 24px;
      }
     
    }
  }
}
.bg {
  width: 100%;
  position: absolute;
  background: rgba(2, 2, 2, 0.897);
  height: 100%;
  z-index: 98;
  top: 0;
  left: 0;
}

@media (max-width: 1480px) {
  .navBar {
    width: 34%;
    padding-top: 10px;
    height: 460px;
    padding-bottom: 5px;
    button {
      margin: 15px 0;
    }
    nav {
      a {
        padding: 14px 20%;
      }
    }
  }
}
@media (max-width: 1090px) {
  .navBar {
    nav {
      a {
        font-size: 14px;
        svg {
          font-size: 20px;
        }
      }
    }
  }
}
@media (max-width: 950px) {
  .navBar {
    height: 430px;
    img {
      width: 30%;
    }
  }
}
@media (max-width: 810px) {
  .navBar {
   display: none;
  }
}

