#home {
    .home {
        align-items: center;
        justify-content: space-between;
        display: flex;

        .home_text {
            h1 {
                position: relative;
                top: -150px;
                font-size: 50px;
                font-weight: 700;
                line-height: 60px;
                text-align: left;
                width: 500px;
                z-index: 99;
              

            }

            p { position: relative;
                font-size: 25px;
                font-weight: 500;
                line-height: 35px;
                text-align: left;
                top: -100px;
                width: 470px;

            }
        }
    }
}