@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 480px) {
    @content;
  }
}

#home5 {
  padding: 150px 0;
//   background-color: #f9f9f9;

  .home5 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include phone {
      flex-direction: column;
      align-items: center;
    }

    .home5_text {
      width: 40%;

      @include phone {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
      }

      h2 {
        font-size: 45px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 25px;

        @include tablet {
          font-size: 28px;
        }

        @include phone {
          font-size: 24px;
        }
      }

      p {
        font-size: 16px;
        color: #a7a7a7;
        line-height: 1.6;

        @include phone {
          font-size: 14px;
        }
      }
    }

    .home_form {
      width: 55%;
      background-color: #f9f9f9;
      padding: 50px 40px;
      border-radius: 10px;

      @include phone {
        width: 100%;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        color: #000000;
        margin-bottom: 8px;
      }

      .inputWrapper {
        margin-bottom: 20px;
        position: relative;

        input {
          width: 100%;
          padding: 12px 15px;
          border: 2px solid #053465;
          border-radius: 5px;
          font-size: 14px;
          background: none;
          color: #000000;
         
        

          &:focus {
            outline: none;
            border-color:  #1a73e8;
          }

          &.errorInput {
            border-color: red;
            background-color: #ffe6e6;
          }
        }

        .errorText {
          font-size: 12px;
          color: red;
          margin-top: 5px;
        }
      }
      ::placeholder{
        font-size: 15px;
        font-weight: 600;
      }
p{
  font-size: 20px;
}
      button {
        display: inline-block;
        width: 100%;
        padding: 20px 20px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        background-color:  #044076;
        ;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}
