.payment {
  width: 70%;
  h1 {
    font-family: "Montserrat", serif;
    font-size: 36px;
    font-weight: 700;
  }
  .cards {
    display: flex;
    padding: 33px 0 88px 0;
    flex-wrap: wrap;
    gap: 10px;
    .card {
      width: 48%;
      border-radius: 10px;
      height: 225px;
      padding: 20px 10px 10px 40px;
      border: 1px solid #0272ce;
      h2 {
        font-size: 24px;
        padding-bottom: 20px;
        font-weight: 700;
      }
      h4 {
        font-size: 24px;
        padding: 20px 0 5px 0;
        font-weight: 700;
      }
      .visa {
        display: block;
        margin-left: auto;
      }
    }
  }
  .addCard {
    border: 1px solid #0272ce;
    width: 100%;
    border-radius: 10px;
    height: 373px;
    padding: 50px;
    .checkBoxes {
      display: flex;
      width: 80%;
      justify-content: space-evenly;
      padding: 20px 0;
      gap: 10px;
      .checkBox {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding: 8px 20px;
        width: 300px;
        border: 2px solid gray;
        gap: 10px;
      }

      .cardText {
        font-size: 20px;
        font-weight: 500;
        line-height: 24.38px;
        text-align: left;
      }

      input[type="checkbox"] {
        display: none;
      }

      label {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: transparent;
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding: 10px 0;
        transition: all 0.3s ease; /* Smooth transition */
      }

      input[type="checkbox"]:checked + label::after {
        content: "✓";
        position: absolute;
        bottom: 2px;
        left: 5px;
        font-size: 20px;
        color: inherit;
      }
    }
    .cardCode {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 0 30px;
      .year {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 10px; // Уменьшен отступ

        .inputText {
          color: white;
          font-size: 14px; // Чуть меньше шрифт для компактности
          font-weight: 400;
          line-height: 10px;
          text-align: left;
          padding: 10px 0; // Уменьшил padding
        }

        .input {
          font-size: 18px; // Немного уменьшил
          border-radius: 8px;
          color: white;
          outline: none;
          border: 2px solid gray;
          background: transparent;
          width: 50%; // Сделал уже, чтобы поля были ближе
          transition: 300ms;
          padding: 8px 12px; // Уменьшил padding

          &:hover {
            border: 2px solid white;
          }
        }
      }
    }

    .number {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .inputText {
        color: white;
        font-size: 16px;
        font-weight: 400;
        line-height: 10.5px;
        text-align: left;
        padding: 8px 0;
      }
      .input {
        font-size: 20px;
        border-radius: 10px;
        color: white;
        outline: none;
        border: 2px solid gray;
        background: transparent;
        width: 80%;
        transition: 300ms;
        padding: 5px 15px;
        &:hover {
          border: 2px solid rgb(255, 255, 255);
        }
      }
    }
    h1 {
      font-size: 36px;
      font-weight: 500;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      margin: 15px 0 119px 0;
      line-height: 19.5px;
    }
    button {
      width: 180px;
      height: 40px;
      border-radius: 10px;
      background-color: #0272ce;
      font-family: "Montserrat", serif;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: 400;
      margin: 10px 0;
    }
  }
}

@media (max-width: 1480px) {
  .payment {
    width: 65%;
  }
}

@media (max-width: 1110px) {
  .payment {
    width: 65%;
    .cards {
      padding: 22px 0 66px 0;
      .card {
        padding: 15px 10px 10px 25px;
        h2 {
          font-size: 20px;
        }
        img {
          width: 22%;
        }
        h4 {
          font-size: 20px;
        }
        span {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .payment {
    .addCard {
      padding: 22px;
      height: 300px;
      p {
        margin: 15px 0 59px 0;
      }
    }
  }
}

@media (max-width: 810px) {
  .payment {
    width: 100%;
    h1 {
      display: none;
    }
    .cards {
      flex-wrap: nowrap;
      flex-direction: column;
      .card {
        width: 75%;
        margin: 0 auto;
      }
    }
    .addCard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 22px;
      height: 350px;
      width: 75%;
      margin: 0 auto;
      h1 {
        display: block;
      }
      p {
        margin: 15px 0;
      }
      button {
        padding: 10px 20px;
        margin-top: 80px;
      }
    }
  }
}

@media (max-width: 600px) {
  .payment {
    .cards {
      .card {
        width: 98%;
      }
    }
    .addCard {
      width: 98%;
    }
  }
}

@media (max-width: 460px) {
  .payment {
    .cards {
      padding: 50px 0 70px 0;
      .card {
        width: 100%;
        padding: 10px 10px 10px 20px;
        height: 200px;
      }
    }
    .addCard {
      width: 100%;
      h1 {
        font-size: 26px;
      }
      button {
        margin-top: 50px;
      }
    }
  }
}
@media (max-width: 360px) {
  .payment {
    .cards {
      padding: 50px 0 70px 0;
      .card {
        width: 100%;
        padding: 10px 10px 10px 20px;
        height: 190px;
        h2 {
          font-size: 16px;
        }
        h4 {
          font-size: 16px;
        }
        span {
          font-size: 12px;
        }
        img {
          width: 18%;
        }
      }
    }
    .addCard {
      width: 100%;
      button {
        margin-top: 50px;
        font-size: 13px;
        width: 160px;
        height: 36px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
