.AboutUs {
  margin-top: 56px;
  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    h1 {
      font-family: Montserrat;
      font-size: 36px;
      font-weight: 700;
      line-height: 60px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
    .sertf {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 125px 0;
      width: 100%;
      gap: 15px;
    }
    p {
      width: 60%;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 25px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
    .images {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 75px;
    }
  }
}
