@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
.AboutUs {
  margin-top: 56px;
  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    h1 {
      font-family: Montserrat;
      font-size: 36px;
      font-weight: 700;
      line-height: 60px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
    .sertf {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 125px 0;
      width: 100%;
      gap: 15px;
      img {
        width: 582px;
        height: 413px;
        @include mobile() {
          width: 100%;
          height: auto;
        }
      }
    }
    p {
      width: 60%;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 25px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      @include mobile() {
        width: 100%;
      }
    }
    .images {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 75px;
      @include mobile() {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      img {
        width: 520px;
        height: 350px;
        @include mobile() {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
