#footer {
  margin-top: 38px;
  .footer {
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: 20px;
      font-weight: 500;
      line-height: 24.38px;
      margin-top: 30px;
    }

    p {
      font-size: 15px;
      font-weight: 500;
      line-height: 18.29px;
    }

    .footer1 {
      .btn {
        button {
          background: none;
          border: 1px solid white;
          font-size: 25px;
          margin-top: 30px;
        }
      }
    }
    .footer2 {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .footer3 {
      .footer_icon {
        display: flex;
        width: 10%;
        font-size: 30px;
        padding: 8px 0;
      }
    }
    .footer4 {
      display: flex;
      flex-direction: column;
      gap: 10px;
      p {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
        padding: 10px 0;
      }
    }
    .footer5 {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}
