@mixin tablet {
    @media (max-width: 1125px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin phone {
    @media (max-width: 480px) {
        @content;
    }
}

.paket {
    margin-top: 60px;
    margin-bottom: 90px;

    h1 {
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 60px;
    }

    .paket {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: black;

        @include tablet {
            flex-wrap: wrap;
            gap: 20px;

        }

        .paket_card {
            display: flex;
            flex-direction: column;
            background: white;
            width: 350px;
            height: 420px;
            padding: 40px 40px;
            border-radius: 10px;

            h6 {
                font-size: 16px;
                font-weight: 600;
                line-height: 19.5px;
                margin-bottom: 10px;
            }

            h2 {

                font-size: 36px;
                font-weight: 700;
                line-height: 43.88px;
                margin-bottom: 10px;





            }

            .btn {
                background: none;
                color: black;
                border: 2px solid rgb(68, 119, 161);
                padding: 10px 20px;
                font-size: 15px;
                border-radius: 5px;
                margin-bottom: 20px;


            }

            ul {

                li {
                    margin-top: 10px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19.5px;



                }
            }







        }

      



    }

    .btn1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;

        button {
            background: rgb(34, 88, 165);
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;


        }
    }


    p {
        text-align: center;
        margin-top: 40px;

    }
}